<p id="notice"><%= notice %></p>

<p>
  <strong>Image</strong><br />
  <%= image_tag @feed.image.url %>
</p>

<div class="mt-5">
  <%= link_to 'Edit', edit_feed_path(@feed), class:"btn btn-secondary" %> |
  <%= link_to 'Destroy', @feed, method: :delete, data: { confirm: '本当に削除してもよいですか?' }, class:"btn btn-danger" %> |
  <%= link_to 'Back', feeds_path, class:"btn btn-light" %>
</div>
